@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

h1 {
    font-family: 'KyoboHandwriting2020A';
    background: #DB7093;
    padding: 10px 20px;
    margin: 10px 5px;
    text-align: center;
}

h2 {
    font-family: 'KyoboHandwriting2020A';
    background: #FFB6C1;
    padding: 10px 15px;
    margin: 10px 5px;
}

h3 {
    font-family: 'KyoboHandwriting2020A';
    background: #FFE4E1;
    padding: 5px 10px 5px 10px;
    margin: 10px 5px;
}

p{
    font-family: 'Gowun Batang', serif;
}